In [2]:
import urllib.request
import re

cgi = 'https://ta-umedu.biwako.shiga-u.ac.jp/2019_web1/data2.cgi'
id = 'your_number'
year = 1996

url = '{}?mode=show&dummy_id={}&year={}'.format(cgi, id, year)

response = urllib.request.urlopen(url)
response_text = response.read().decode('utf-8')

English = 0
Mathematics = 0
Science = 0
Geography = 0

count = 0
semicount = 0

for match in re.findall(r"<td>(.*?)</td>", response_text):
    if semicount == 0:
        count += 1
    elif semicount == 1:
        English += int(match)
    elif semicount == 2:
        Mathematics += int(match)
    elif semicount == 3:
        Science += int(match)
    elif semicount == 4:
        Geography += int(match)
        semicount = -1
    semicount += 1
    
print('{}年：English{}, Mathematics{}, Science{}, Geography and History{}'.format(year, English/count, Mathematics/count, Science/count, Geography/count))

1996年：English60.0, Mathematics65.73333333333333, Science66.13333333333334, Geography and History62.06666666666667

In [4]:
import urllib.request
import csv
import pandas as pd
import numpy as np

cgi = 'https://ta-umedu.biwako.shiga-u.ac.jp/2019_web1/data2.cgi'
id = 'your_number'

years = [i for i in range(1990, 2010)]

for year in years:
    url = '{}?mode=show&dummy_id={}&year={}'.format(cgi, id, year)

    response = urllib.request.urlopen(url)
    response_text = response.read().decode('utf-8')

    English = 0
    Mathematics = 0
    Science = 0
    Geography = 0

    count = 0
    semicount = 0

    for match in re.findall(r"<td>(.*?)</td>", response_text):
        if semicount == 0:
            count += 1
        elif semicount == 1:
            English += int(match)
        elif semicount == 2:
            Mathematics += int(match)
        elif semicount == 3:
            Science += int(match)
        elif semicount == 4:
            Geography += int(match)
            semicount = -1
        semicount += 1
    
    print('{}年：English{:.2f}, Mathematics{:.2f}, Science{:.2f}, Geography and History{:.2f}'.format(year, English/count, Mathematics/count, Science/count, Geography/count))

1990年：English74.37, Mathematics67.83, Science67.60, Geography and History71.67
1991年：English73.50, Mathematics78.63, Science71.47, Geography and History74.47
1992年：English81.33, Mathematics73.97, Science70.40, Geography and History78.27
1993年：English71.40, Mathematics76.33, Science78.60, Geography and History74.73
1994年：English74.17, Mathematics75.57, Science75.53, Geography and History76.90
1995年：English72.83, Mathematics72.93, Science74.43, Geography and History77.60
1996年：English60.00, Mathematics65.73, Science66.13, Geography and History62.07
1997年：English71.27, Mathematics70.47, Science64.73, Geography and History68.67
1998年：English67.20, Mathematics70.80, Science72.57, Geography and History67.60
1999年：English69.57, Mathematics66.97, Science63.30, Geography and History69.20
2000年：English82.17, Mathematics86.17, Science78.90, Geography and History84.67
2001年：English83.30, Mathematics82.77, Science81.67, Geography and History85.10
2002年：English75.60, Mathematics72.70, Science75.13, Geography and History74.37
2003年：English82.83, Mathematics83.43, Science85.20, Geography and History82.27
2004年：English75.97, Mathematics70.83, Science73.23, Geography and History75.20
2005年：English77.00, Mathematics78.80, Science73.30, Geography and History75.30
2006年：English72.83, Mathematics70.73, Science72.87, Geography and History71.67
2007年：English61.77, Mathematics59.37, Science67.07, Geography and History65.10
2008年：English80.57, Mathematics82.17, Science84.13, Geography and History82.60
2009年：English86.67, Mathematics86.33, Science83.13, Geography and History79.03